
  .uname {
    position: absolute;
    width: 524px;
    height: 75px;
    left: 696px;
    top: 345px;
    
    background: #FFF8FA;
    border-radius: 30px;
    border: 0px;
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    
    color: rgba(0, 0, 0, 0.4);
    
    
  }
  
  .password {
    position: absolute;
    width: 524px;
    height: 75px;
    left: 696px;
    top: 453px;
    
    background: #FFF8FA;
    border-radius: 30px;
    border: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    
    
    color: rgba(0, 0, 0, 0.4);
    
    
  }

  .btn {

position: absolute;
width: 330px;
height: 77px;
left: 787px;
top: 601px;

background: #F1FFEB;
border-radius: 30px;
border: 0px;
/* Create Account */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;

  }