
.upFile {
position: absolute;
width: 219px;
height: 75px;
left: 1307px;
top: 60px;

}
.b1 {


box-sizing: border-box;

position: absolute;
width: 219px;
height: 75px;
left: 1491px;
top: 15px;

background: #5389F2;
border: 1px solid #000000;
border-radius: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;

color: rgba(0, 0, 0, 0.4);



}
.b2 {

box-sizing: border-box;

position: absolute;
width: 172px;
height: 77px;
left: 1731px;
top: 13px;

background: #F25353;
border: 1px solid #000000;
border-radius: 30px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;


}
.b3 {
box-sizing: border-box;

position: absolute;
width: 172px;
height: 77px;
left: 1129px;
top: 13px;

background: #32C05C;
border: 1px solid #000000;
border-radius: 30px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;



}

.sidebar_left {
/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 309px;
height: 910px;
left: 8px;
top: 13px;

background: #F5F7F4;
border: 1px solid #000000;
border-radius: 10px;

}
head_sidebar {
    /* Your Notes */

position: absolute;
width: 193px;
height: 54px;
left: 66px;
top: 25px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;


}

.File_list {
    /* Why Jaishankar is Best? */

position: absolute;
width: 238px;
height: 30px;
left: 21px;
top: 101px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #000000;


}

.main {
    margin-left: 180px;
    padding: 0.5rem;
    
}
.notetitle {
/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 794px;
height: 77px;
left: 325px;
top: 13px;

background: #F5F7F4;
border: 1px solid #000000;
border-radius: 15px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 54px;

color: rgba(0, 0, 0, 0.4);


}
.textareas {
    /* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 794px;
height: 820px;
left: 325px;
top: 102px;

background: #F5F7F4;
border: 1px solid #000000;
border-radius: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;

color: rgba(0, 0, 0, 0.4);



}

.preview {
/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 774px;
height: 820px;
left: 1129px;
top: 102px;

background: #F5F7F4;
border: 1px solid #000000;
border-radius: 10px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;

color: rgba(0, 0, 0, 0.7);


}
logout{
    /* Log Out [-> */

position: absolute;
width: 82px;
height: 21px;
left: 188px;
top: 897px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #000000;


}
username {


    position: absolute;
    width: 82px;
    height: 21px;
    left: 81px;
    top: 897px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #000000;
    
}
