
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">

</head>
<body>
    <div class="container">
        <div class="wrapper">
            <form class="form-signin">
                <input type="text" class="uname" placeholder="Username" required="" autofocus="" />
                <input type="password" class="password" placeholder="Password" required=""/>
                <button class="btn" type="Submit">Login</button>
                <button class="signup" type="Submit">Create Account</button>
            </form>
        </div>
    </div>
    <script src="/login.js"></script>
</body>
</html>