
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign up!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/register.css">

</head>
<body>
    <input type="text" class="uname" placeholder="Username" required="" autofocus="" />
    <input type="password" class="password" placeholder="Password" required=""/>
    <button class="btn" type="Submit">Create User</button>
    <script src="/signup.js"></script>
</body>
</html>