
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Notes App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/w.css">

</head>
<body>
    <heading># Simple, Secure, Quick</heading> <heading2>Notes</heading2>

    <ul>
        Features
        <li>Simple and Minimalist UI</li>
        <li>Encrypted Data Storage</li>
        <li>Lightweight</li>
        <li>Markdown Preview</li>
        <li>OCR for text in image</li>
      </ul> 
    <button class="gstart" href="/app">Get Started</button>
    <img src="/image" alt="">
</body>
<script>
    const submitbtn = document.querySelector('.gstart')

    submitbtn.addEventListener('click', async (event) =>{
        location.assign('/login')
    })
    </script>
</html>